/*
 nice to have: card flip animation: is that a three image flip?
*/
/*  */

h1 {
    font-family: fantasy;
    text-align: center;
    font-weight: bold;
}

p.blurb {
    font-family: fantasy;
    font-size: 20px;
    margin-left: 100px;
    color: #215254;
}

body {
  background-color: #5f9ea0;
  max-width: 700px;
}

main {
    display: flex;
    max-width: 650px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    position: absolute;
    bottom: 0;
}

.bottom {
    font-size: 12px;
    font-family: serif;
}